div.headerHome{
	display: inline-block;
	margin-left: 30px;
}

#homeIcon{
	border: 3px solid #012d44;
	border-radius: 8px;
	width: 50px;
	height: 50px;
	float: left;
}	

ul.menu{
	list-style: none;
	border: 3px solid #012d44;
	border-radius: 30px;
	float: left;
	margin: 0px;
	margin-left: 20px;
	padding-right: 0px;
}

ul.menu li{
	float: left;
	padding: 15px;
	padding-left: 40px; 
	margin-right: 0px;
}

li.first{
	margin-left: -41px;
	border-radius: 25px 0px 0px 25px;
}

li.darker{
	background-color: #2a576f;
	color: #d6dcdf;
}

li.last{
	padding-right: -50px;
	border-radius: 0px 25px 25px 0px;
}

ul.menu li:hover, div.user-menu:hover{
	background-color: #012d44;
	color: #d6dcdf;
	cursor: hand;
}

li.left-b{
	border-left: 3px solid #012d44;
}

div.form-field{
	width: 700px;
	min-height: 320px;
	border: 2px solid #012d44;
	margin: auto;
	margin-top: 30px;
}
div.form-field.bigger{
	width: 800px;
}
table.centered-text th{
	text-align: center;
}

table{
	width: 100%;
	z-index: 10;
}


table, div.form-field{
	border-collapse: collapse;
}
table, th, td {
    border: 1px solid #012d44;
}

th{
	background-color: #012d44;
	color: #d6dcdf;
}
th.id{
	width: 15px;
}

tr.stripped{
	background-color: #d6dcdf;
}

td{
	width: 15px;
}

input.title{
	background-color: #eeeeee;
	border: 0px;
	font-size: 45px;
}

input.title:focus{
	outline: 0px;
}

.clear{
	clear: both;
}