body{
	font-family: Arial;
	margin: 0px;
}

#body{
	background-color: #eeeeee;
	color: #001f22;
	width: 920px;
	margin: auto;
	padding-top: 170px;
}

div.header{
	padding: 15px 150px 0px 150px;
	background-color: #2a576f;
	border-top: 3px solid #001f22;
	border-bottom: 4px solid #001f22;
}

div.header img{
	float: left;
	margin-bottom: 5px;
	width: 150px;
	height: 150px;
}

div.header h1{
	font-size: 60px;
	color: #d6dcdf;
	padding-left: 170px;
	padding-top: 90px;
	margin-top: 0px;
	margin-bottom: 0px;
}	

#login{
	color: #001f22;
	background-color: #5b868a;
	border: 2px solid #023f45;
	border-radius: 25px;
	margin: auto;
	padding-top: 150px;
	padding: 20px;
	width: 300px;
}

form table input{
	width: 195px;
}

input.login{
	text-align: center;
	width: 60px;
	margin-top: 25px;
	margin-left: 120px;
	margin-bottom: 0px;
}

#register{
	font-size: 12px;
	width: 300;
	text-align: center;
	margin-top: 20px;
	margin-bottom: -10px;
}

sup.registered{
	font-size: 20px;	
}