body{
	font-family: Arial;
	min-width: 1100px;
	margin: 0px;
}

#body{
	background-color: #eeeeee;
	color: #012d44;
	width: 920px;
	margin: auto;
	padding: 20px;
	min-height: 600px;
	position: relative;
}

div.header{
	position: relative;
	padding: 15px 0px 0px 0px;
	margin: auto;
	background-color: #2a576f;
	border-top: 3px solid #012d44;
	color: #d6dcdf;
	border-bottom: 4px solid #012d44;
}

div.header-content{
	width: 1080px;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}

div.header img{
	float: left;
	margin-bottom: 5px;
	width: 150px;
	height: 150px;
}

div.user-menu{
	z-index: 10;
	position: absolute;
	text-align: right;
	font-size: 18px;
	top: 20px;
	width: 200px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 800px;
	border-top: 2px solid #012d44;
	border-right: 2px solid #012d44;
	border-top-right-radius: 25px;
	border-color: #d6dcdf;
	padding: 8px 8px 5px 0px; 
	box-shadow: 5px -5px 10px #012d44;
	text-shadow: 2px -2px 2px #012d44;
}
div.user-menu:hover{
	z-index: 10;
	background-color: #012d44;
	color: #d6dcdf;
}

div.user-menu li{
	border-top: 2px solid #2a576f;
	padding-top: 5px;
	font-size: 15px;
}

div.user-menu li:hover{
	background-color: #2a576f;
	border-left: 2px solid #d6dcdf;
	font-size: 17px;
}
div.user-data{
	z-index: 5;
	position: absolute;
	text-align: right;
	font-size: 15px;
	top: 20px;
	width: 200px;
	margin-top: 70px;
	margin-right: 20px;
	margin-left: 800px;
}

p.no-margin{
	margin: 0px;
}
#user-menu{
	z-index: 10;
	list-style: none;
	padding: 18px 0px 7px 0px;
	margin: 0px;
	background-color: #012d44;
}

a.no-style, a.no-style:hover, a.no-style:visited,
a.no-style:active, a.no-style:link{
	text-decoration: none;
	color: #d6dcdf;
	display: block;
	cursor: pointer;
}


 a.dark-font{
 	color: #012d44;
 	text-decoration: none;
 	cursor: pointer;
 	display: block;
 }

div.header h1{
	font-size: 60px;
	color: #d6dcdf;
	padding-left: 170px;
	padding-top: 90px;
	margin-top: 0px;
	margin-bottom: 0px;
}	

#login{
	color: #012d44;
	background-color: #d6dcdf;
	border: 2px solid #2a576f;
	border-radius: 25px;
	margin: auto;
	margin-top: 150px;
	padding-top: 150px;
	padding: 20px;
	width: 300px;
}

form table input{
	width: 195px;
}

input.login{
	text-align: center;
	width: 65px;
	margin-top: 25px;
	margin-left: 120px;
	margin-bottom: 0px;
}

#register{
	font-size: 12px;
	width: 300;
	text-align: center;
	margin-top: 20px;
	margin-bottom: -10px;
}

sup.registered{
	font-size: 20px;	
}

#footerline{
	width: 480px;
	margin: auto;
	border-top: 1px solid #012d44;

}


footer {
	z-index: 10;	
	text-align: center;
	margin: auto;	
	background-color: #eeeeee;
	padding-top: 30px;
	font-size: 14px;
	min-width: 940px;
}

footer i{
	font-size: 12px;
}

footer p{
	margin-bottom: 5px;
}


#div.inline-form input{
    margin: 50px;   
}